#Dara {
    position: absolute;
    left: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 131px;
    height: 143px;
    border-radius: 50%;
    z-index: -1;
    background-image: url(../images/Dara.png);
    background-size: contain;
}

#Hannah {
    position: absolute;
    right: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 131px;
    height: 143px;
    border-radius: 50%;
    z-index: -1;
    background-image: url(../images/Hannah.png);
    background-size: contain;
}

#Maniya {
    position: absolute;
    left: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 131px;
    height: 143px;
    border-radius: 50%;
    z-index: -1;
    background-image: url(../images/Maniya.png);
    background-size: contain;
}

#Trent {
    position: absolute;
    right: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 131px;
    height: 143px;
    border-radius: 50%;
    z-index: -1;
    background-image: url(../images/Trent.png);
    background-size: contain;
}

#rectangle_green {
    position: absolute;
    margin: auto;
    right: 280px;
    left: 280px;
    height: 163px;
    z-index: -2;
    background: #95e6a2;
    border-radius: 50px;
}

#rectangle_orange {
    position: absolute;
    margin: auto;
    right: 280px;
    left: 280px;
    height: 163px;
    z-index: -2;
    background: #ffe594;
    border-radius: 50px;
}

.content h1 {
    text-align: center;
    border-bottom: 1px solid #007C92;
    padding-bottom: 10px;
    margin-bottom: 20px
}

.content h2 {
    /* display: flex;
    align-items: center; */
    /* line-height:143px; */
    padding-bottom: 80px;
    text-align: left;
    margin-left: 325px;
    font-size: 18.72px;
    color: #3e7848;
}

.content h3 {
    /* display: flex;
    align-items: center; */
    /* line-height:143px; */
    padding-bottom: 80px;
    text-align: right;
    margin-right: 325px;
    font-size: 18.72px;
    color: darkgoldenrod;
}

.content p {
    font-weight: normal;
    font-size: 16px;
}