/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    position: absolute;
    margin: auto;
    width: 500px;
    height: 300px;
}

#menu {
    position: absolute;
    margin: auto;
    background: #fff;
    padding: 10px;
    word-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
}

#content {
    position: absolute;
    margin: auto;
    margin-bottom: 50px;
    height: 100%;
    right: 50px;
    left: 50px;
    padding: 50px;
    z-index: -2;
    background: #397d75;
    border-radius: 50px;
}