/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    position: absolute;
    margin: auto;
    width: 436px;
    height: 170px;
    left: 144px;
    top: 156px;
}

#menu {
    position: absolute;
    margin: auto;
    left: 144px;
    top: 156px;
    background: #fff;
    padding: 10px;
    word-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
}

#content {
    position: absolute;
    margin: auto;
    margin-bottom: 50px;
    height: 100%;
    right: 50px;
    left: 50px;
    padding: 50px;
    z-index: -2;
    background: #65dbcd;
    border-radius: 50px;
}

#storeIn {
    width: 1100px;
    height: auto;
}