.content {
    position: absolute;
    margin: auto;
    margin: 50px 8%;
    margin-top: 400px;
}

.content h3 {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 20px
}
  
.content p {
    text-align: justify;
    margin-bottom: 50px;
    line-height: 2;
}