#innerStoreImage {
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
}

#innerStore {
    background-color: white;
    min-width: 100%;
    min-height: 700px;
    display: inline-block;
}