body {
    background-color: #B5F4ED;
    margin: 0;
    padding: 0;
}

.sticky-section {
    background-color: #6BDCCE;
    margin-bottom: 50px;
    width: 100%;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: center;
}

nav>a,
nav>.dropdown>a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 20px 30px;
    transition: all 0.5s ease 0s;
}

nav>a:hover,
nav>.dropdown>a:hover {
    color: white;
}

a {
    text-decoration: none !important;
}

#logo {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 280px;
    height: 200px;
    background-image: url(../images/logo.png);
    background-size: contain;
}

header {
    background-color: #8BF2E8;
    text-align: center;
    padding: 35px 0px;
}

header h1 {
    margin: 0px;
    font-size: 40px;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
}

h1 span {
    font-weight: 400;
}

nav a:hover {
    background-color: #e4b639;
}

.dropdown {
    display: flex;
    justify-content: center;
}

.dropdownContent {
    display: none;
    position: absolute;
    top: 70px;
    text-align: center;
    min-width: 303px;
}

.dropdownContent a {
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #6BDCCE;
    padding: 20px 30px;
}

.dropdownContent a:hover {
    background-color: #e4b639;
}

.dropdown:hover .dropdownContent {
    display: block;
}