body {
    background-color: #B5F4ED;
    margin: 0;
    padding: 0;
}

.sticky-section {
    overflow: hidden;
    background-color: #6BDCCE; 
    margin-bottom: 50px;
    width: 100%; 
    color: white; 
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

nav a {
    float: left;
    text-decoration: none; 
    color: white;
    font-size: 18px; 
    padding: 20px 30px; 
    transition: all 0.5s ease 0s;
}

#logo {
    position: absolute;
    top: 0; bottom: 680px; left: 0; right: 0;
    margin: auto;
    width: 140px;
    height: 100px; 
    background-image: url(../images/logo.png);
    background-size: contain; 
}

header {
    background-color: #8BF2E8; 
    text-align: center;
    padding: 35px 0px; 
}

header h3 {
    margin: 0px;
    font-size: 24px; 
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
}
  
h1 span {
    font-weight: 400;
}
  
nav a:hover {
    background-color: #004292;
}

.content {
    margin: 50px 8%;
}