#carouselInfo {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border: 10px dotted white;
    height: 200px;
    padding: 50px;
    border-radius: 100px;
    margin-bottom: 60px;
    color: #397d75;
}

.storefront {
    width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
    /* z-index: 1; */
    position: absolute;
    left: 0;
    right: 0;
}

svg {
    z-index: 2;
}

svg>rect {
    opacity: 20%;
}

svg>img {
    z-index: 3;
}

svg>.door {
    z-index: 5;
}

svg>.door:hover {
    cursor: pointer;
}

#carouselExampleControls {
    width: 100%;
    height: 100%;
    background-color: white;
    /* background-image: url("../../images/carouselBG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

.enterStoreDiv {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: -50px;
}