* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.titleFont {
    font-family: 'Vast Shadow', cursive;
    font-size: 20px;
}

.smallTitleFont {
    font-family: 'Vast Shadow', cursive;
    font-size: 12px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#fly {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}


.subtitleFont {
    font-family: 'Rhodium Libre', serif;
}

#container {
    padding: 50px;
    width: 80%;
    display: block;
    margin: 0 auto;
}

#map {

    position: absolute;
    top: 20%;
    bottom: 20%;
    width: 90%;
    padding-right: 10%;
    padding-left: 10%;
}

#menu {
    position: fixed;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

#container>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.localBusinessDiv {
    margin: 20px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
}